/* JULIA */

body {
  font-family: 'Times New Roman', Times, serif;
}

.main-header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: pink;
}

main {
  height: 800px;
  display: flex;
}

.header-icon {
  width: 70px;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 24px;
  margin-left: 10px;
}
